body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#map{
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
}

.leaflet-container {
    background-color: #000000;
}
