html,
body {
		font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
		background-color: #E4EEF0;
}

#navbar {
    height: 70px;
    margin:auto;
		margin-bottom: 1%;
    width: 98%;
    text-align: center;
    background-color: #121F27;

}

#navtitle{
	margin-left: 4%;
	margin-right: 4%;
	color: #FFF;
}

#navbar > *{
	display: inline-flex;
	flex: auto;
	text-align: center;


}

#navbar a {
    display:inline-flex;
		flex:auto;
		margin-top:5px;
		padding: 23px;
    color:white;
    text-decoration: none;
}

ul{
	padding:0;
	margin:0;
}

ul a{
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

li {
    list-style: none;
}

.nav{
    background:rgb(65, 98, 117);
    transition: all 0.3s ease 0s;
}
.nav:hover {
    background: rgb(97, 145, 168);
}
.nav:nth-of-type(odd){
}

#actions{
	margin-left:1%;
	width: 29%;
}

#map{
	height: 85%;
	width: 68%;
	margin-right:1%;
	float:right;
}

#maps_list{
	background-color: #BBCFDA;
	padding: 15px;
	border-left: 2px solid white;
}

#retrieve_map{
	padding: 15px;
	border-left: 2px solid white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

#retrieve_from_robot{
	background-color: #BBCFDA;
	padding: 15px;
	border-left: 2px solid white;
}

#submit_map_name{
	float: right;
	margin-left:6%;
	padding-top:3%;
	padding-bottom:3%;
	padding-left:6%;
	padding-right:6%;
	background:rgb(65, 98, 117);
	font-weight: bold;
	transition: all 0.3s ease 0s;
	border:1px solid white;
	color: white;
}

#submit_map_name:hover {
    background: rgb(97, 145, 168);
}

#submit_map_name:active {
		fill: rgb(97, 145, 168);
		background: rgb(35, 68, 87);
}

#submit_robot_id{
	float:right;
	margin-left:6%;
	padding-top:3%;
	padding-bottom:3%;
	padding-left:6%;
	padding-right:6%;
	background:rgb(65, 98, 117);
	font-weight: bold;
	transition: all 0.3s ease 0s;
	border:1px solid white;
	color: white;
}

#submit_robot_id:hover {
    background: rgb(97, 145, 168);
}

#submit_robot_id:active {
		fill: rgb(97, 145, 168);
		background: rgb(35, 68, 87);
}

.leaflet-container {
    background-color: #000000;
}
